<div class="container-fluid home-callout text-center">
    <h1>Welcome to the home page!</h1>
    <h2>The home of positivity.</h2>
</div>

<div class="container homepage-signup">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <% if user_signed_in? %>
            <% else %>
                <div class="well text-center">
                    <h2>Sign up to GoalPositive today!</h2>
                    <h4>A site where you can share your goals with a community of like-minded individuals</h4>
                    <%= link_to "Sign up today!", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-block btn-lg' %>
            <% end %>
            </div>
        </div>  
    </div>
</div>
<div class="container-fluid homepage-picture">
    <div class="align-left">

    <!-- <img src="http://www.wallpapers-web.com/data/out/146/5066618-mountain-peak-wallpapers.jpg"/> -->
    <!-- <img src="http://www.wallpapers-web.com/data/out/146/5066806-mountain-peak-wallpapers.jpg"/> -->
    
    </div>
    <% if current_user.profile %>
        <!-- Why is this current_user.id? Not just current_id? -->
        <%= link_to "See your Profile", user_path(current_user.id) if user_signed_in? %>
    <% else %>
        <%= link_to "Create your profile", new_user_profile_path(user_id: current_user.id) if user_signed_in? %>
    <% end %>
</div>

