@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

h1 {
    font-family: 'Lato', sans-serif;
}

h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

.home-callout {
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: -20px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.navbar {
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a {
    color: white;
    &:hover {
        color: white;
        opacity: 0.65;
    }
}

.navbar-default .navbar-brand .fa {
    color: black;
}

.navbar-default .navbar-brand {
    font-weight: 600;
}

.navbar-default .navbar-toggle .icon-bar {
    background: white;
}

.navbar-default .navbar-toggle {
    border-color: white;
    &:hover, &:focus {
        background-color: #FFD200;
    }
}
